<h2>Projects</h2>

<ul>
	<% @projects.each do |project| %>
		<li><%= link_to project.name, project %> - <%= pluralize(project.tickets.count, 'ticket') %></li>
	<% end %>
</ul>		
<br />
<% admin_only do %>
	<%= link_to "New Project", new_project_path %>
<% end %>